*{
	font-family: 'Comfortaa', cursive;
}

nav.navbar ul li.nav-item a.nav-link{
	color: #fff;
	margin: 10px;
	.button:hover {*/
    background-color: yellowgreen;
    border: 1px solid black;
}
}background-color: gold;background-color: gold;background-color: gold;

div#FooterInfo div.Copyright{
	text-align: center;
	background-color: #343A40;
	padding-bottom: 30px;
	
	
}

div#FooterInfo div.Copyright p{
	color: #fff;
	flex-direction: row;
}

div#FooterInfo div.Réseaux{
	
}

div#Content div.firstbox, div.secondbox{
	background-color: #343A40;
	display: inline-block;
	border-radius: 10px;
	padding: 50px;
	margin: 30px;
}

div#Content div.thirdbox{
	background-color: #343A40;
	border-radius: 10px;
	margin: 30px;
	padding: 30px;
}

div#Content div.Sponsors-extras{
	background-color: #343A40;
	border-radius: 10px;
	margin: 30px;
	padding: 30px;
	color: #fff;
}


div#Content{
	text-align: center;
}

div.firstbox, div.secondbox, div.thirdbox p {
	color: #fff;
}

<<<<<<< HEAD








	


img {
	
	
=======
h1{
	text-align: center;
}

div.corps-text{
	text-align: center;
	
    
}
>>>>>>> master
}





}













p {
	
	font: 1.2em "Fira Sans", sans-serif;
}

}
