<<<<<<< HEAD
<<<<<<< Updated upstream
body {
  background-color: lightyellow;
=======
.nav{
	color: yellow;
>>>>>>> Stashed changes
=======
*{
	text-align: center;
	color: white;
}

body {
  background-color: lightyellow;
}

.ranger{
	
	display: flex;
	justify-content : row ;
}

.bg-dark{
	opacity: 95%
}

.dispos{
	display: inline-flex;
<<<<<<< Updated upstream
>>>>>>> master
}
=======
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: grey;
    border-top: .05rem solid #e5e5e5;
>>>>>>> Stashed changes
